body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Poppins, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: #dbdbdb;
    border-radius: 30px;
    padding: 2rem;
  }
  
  p { 
    text-align: center;
    margin-top: 1rem;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  button { 
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;
    background-color: #6FD240;
    color: #fff; 
  }

  button:hover {
    background-color: #e12e2e; 
  }
  